.simulate-mobile {
    width: 390px; 
    height: 744px; 
    margin: 0 auto; 
    border: 1px solid #ddd; 
    overflow: hidden; 
    background-color: #f9f9f9; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
.location-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 2%;
  
}

.location-description {
  margin-top: 2%;
  font-size: 13px;
  
}

.location-input {
  margin-bottom: 20px;
  max-width: 350px;
}

.map-container {
  margin-bottom: 20px;
  max-width: 950px;
}
